#main {
    background-color: #0A0A23;
    color: white;
  }
#title {
    text-align: center;
    font-size: 50px;
}
h5 {
    text-align: center;
    position: relative;
    bottom: 20px;
}
#img-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 20px;
}
#image {
    width: 50%;
    border-radius: 10px;
}
#tribute-info {
    text-align: center;
    font-size: 25px;
}